* {
  margin: 0;
  padding: 0;
}
*body {
  max-width: 1200px;
  max-height: 100%;
}
.same {
  width: 700px;
  margin: 0 auto;
  background-color: #031956;
}
header img {
  width: 700px;
}
nav {
  height: 360px;
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #6745B3;
  line-height: 50px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 5px;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 10px 15px #3E13A0;
}
nav ul li span {
  float: right;
  width: 15px;
  height: 15px;
  line-height: 10px;
  margin-top: 17px;
  border-radius: 5px;
  background-color: #011957;
}
nav ul > li:nth-of-type(4n) {
  margin-right: 20px;
}
section {
  height: 3620px;
}
section ul {
  list-style: none;
}
section ul li {
  width: 320px;
  height: 430px;
  border-radius: 10px;
  margin: 20px 20px;
  margin-bottom: 0px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  position: relative;
}
section ul li img {
  width: 300px;
  border-radius: 10px;
}
section ul li p {
  font-size: 25px;
}
section ul li h1 {
  color: #FC384B;
}
section ul li h3 {
  text-decoration: line-through;
  margin-top: 18px;
}
section ul li div {
  position: absolute;
  background-color: #FC384B;
  color: white;
  border-radius: 5px;
  width: 40px;
  height: 50px;
  text-align: center;
  right: 8px;
  bottom: 8px;
  line-height: 24px;
}
section ul li > div:hover {
  cursor: pointer;
}
section ul > li:nth-of-type(2n) {
  margin-left: 0px;
}
